# Obsidian workspace layout and configurations
.obsidian/

# Obsidian trash bin
.trash/

# OS-specific temporary files
.DS_Store
Thumbs.db

# Microsoft Office temporary files
~$*

# Temporary inspect files
.tmp-sheet-inspect/

